# Credenciais de acesso ao banco de dados
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=db_mapos
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Diretórios
ROOT_DIR=
BUILD_CONTEXT=${ROOT_DIR}

# Chave de encriptação de sessão
ENCRYPTION_KEY=

# Porta exposta
PORT_MAPPING=
